*{
    font-family: 'Hind Siliguri', sans-serif !important;
}
.main-layout{
    height: 100vh;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.wordle{
    font-size: 2rem;
    font-weight: 600;
}